{% load staticfiles %}
<form method="post" name="login_form" class="form-horizontal" ng-submit="login('{% url 'login' %}')" role="form">
    <fieldset>
        <legend>Login</legend><br>
        {% include 'form/angular_edit.html' with ng_context="ticket" form_name="login_form"  %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </fieldset>
</form>
